body {
    background-color: #F1A438;
    margin-left: 2%;
    margin-right: 2%;

}

h1 {
    font-family: 'karma', serif;
    font-size: large;
    color: #203E40;
    text-align: center;

}

@media screen and (min-width: 900px) {
    h1 {
        font-size: x-large;

    }
}

h2,
caption,
table {
    font-family: 'athiti', sans-serif;
    color: #203E40;
    font-size: medium;
}

@media screen and (min-width: 900px) {

    h2,
    caption,
    table {
        font-size: x-large;
    }
}

.h2_center,
legend {
    text-align: center;
}

table,
caption,
hr,
h1,
button,
legend {
    background-color: #E8BF76;
    border-width: 3px;
    border-style: solid;
    border-color: #809FB0;
    color: #203E40;
}


button:hover,
.btn:hover,
a:hover {
    background-color: #809FB0;
    color: #E8BF76
}

.div_center {
    text-align: center;
}

.div_pane {
    margin-bottom: 4px;
}

.karma-medium {
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.mukta-light {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.athiti-medium {
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    font-style: normal;
}


p,
li,
article,
label,
.nav-link.active {
    font-size: medium;
    color: #203E40 !important;
    font-family: 'Mukta', sans serif;
    font-style: normal;
    text-align: justify;
    justify-content: center;

}

.nav-tabs {
    border-bottom-color: #809FB0 !important;
}
.nav-link.active {
    background-color: #E8BF76 !important;
    border-color: #809FB0 !important;
}

img {
    max-height: 250px;
    max-width: 200px;
    border-color: #809FB0;
    border-width: 3px;
    border-style: solid;
}

.cadre_img {
    margin: 4px;
    display: flex;
}

.texte_img {
    width: auto;
    height: auto;
    object-fit: contain;
    margin: auto;
}

textarea {
    resize: vertical;
}

fieldset {
    border-style: inset;
    border-radius: 1em;
    border-width: 2px;
    border-color: #203E40;
}

.portrait img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.portrait article {
    text-align: center;
}

@media screen and (min-width: 900px) {
    .equipe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: safe;
        position: relative;
    }

    .portrait {
        display: flex;
        flex-direction: column;
        width: 25%
    }
}

.table_horaires {
    caption-side: top;
    margin-left: auto;
    margin-right: auto;
}

.listing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-gap: 20px;
}

.logo {
    height: 150px;
    width: 150px;
}

.navbar {
    background-color: #F1A438 !important;
}

.liste_a_puces {
    display: flex;

}

.prestations {
    display: flex;

}

.formulaire_contact {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.formulaire_label {
    flex-direction: column;
    margin: 1%;
    text-align: left;
    white-space: nowrap;
    flex: 1;
}

.formulaire_champ {
    flex-direction: column;
    margin: 1%;
    flex: 2;
}

.formulaire_deux_colonnes {
    flex-direction: column;
    columns: 2;
    margin: 1%;
}

/* Contenu pour faire flipper la carte */
.card {
    margin: 0 auto;
    width: 200px;
    height: 320px;
    /* perspective: 1000px; */
    text-align: center;
    
    background-color: #E8BF76;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #809FB0;
}

.card-front {
    /* background-image:url('images/front.jpg'); */
    background-size: cover;
    /* background-position:center center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.card-front:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(0deg, #F1A438, #E8BF76);
}

.card-front .card-content {
    z-index: 1;
    color: #E8BF76;
}

.card-front .card-content p {
    color: #E8BF76;
}

.card-back {
    transform: rotateY(180deg);
    /* background:#F1A438; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #F1A438, #E8BF76);
}

/* .card-back .card-image {
    width:120px;
    height:120px;
    margin:0 auto;
    border:solid 1px #809FB0;
    border-radius:100%;
    /* background-image:url('images/back.jpg');
    background-size:cover;
    /* background-position:center center;
  } */

.card-back p {
    margin-top: 2px;
}

/* .card-back .card-icons {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-back .card-icons a {
    font-size:18px;
    color:#E8BF76;
    background:#809FB0;
    width:42px;
    height:42px;
    border-radius:100%;
    margin:8px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition:opacity .2s;
  } */

/* .card-back .card-icons a:hover {
    cursor:pointer;
    opacity:0.7;
  } */

.card-front {
    transition: opacity .6s;
}

.card:hover .card-front {
    opacity: 0;
}

/* / Contenu pour faire flipper la carte */